<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/assets/js/pbsScraper.js"></script>
    
    <title>PBS NewsHour Scraper</title>
</head>

<body>


<nav>

    {{{ body }}}

</nav>


</body>

</html>