<h5>Latest Headlines</h5>

<div class="container">
    
    <h3>Latest Headlines</h3>

    {{#each articles}}
        <h2>Latest Headlines</h2>
        <div class="card mb-3">
            <div class="card-header text-center text-white bg-info">
                <h1>Latest Headlines</h1>
                <h5>{{this.title}}</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-8">
                        <p>{{this.link}}</p>
                    </div>
                </div>
            </div>
        </div>
    {{/each}}
    
</div>