<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">PBS NewsHour Scraper</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home <span class="sr-only">(current)</span></a></li>
            <li><a id="saved" href="/saved">Saved Articles</a></li>
        </ul>
        <form class="navbar-form navbar-left" action="/api/fetch" method="get">
            <button class="btn btn-danger scrape" href="/scrape">Scrape New Articles!</button>
        </form>
    </div>
</nav>

<h5 id="title">Latest Headlines</h5>

<div>

    {{#each articles}}
        <div class="well">
            <div class="row">
                <div class="col col-md-8">
                    <h4><a href="{{this.link}}">{{this.title}}</a></h4>
                </div>
                <div class="col col-md-2">
                    <form class="form-inline" action="/api/articles/save/{{this.id}}" method="POST">
                        <button type="submit" class="btn btn-success">Save Article</button>
                    </form>
                </div>
            </div>
        </div>
    {{/each}}

</div>